*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
     text-decoration: none;
/* background-color: black; */
/* color: white; */
    }
 /* feed page css */

 

.LoginPage { 
  position: fixed;
     top:10rem;
   left: 37%; 
 
margin-left: -200px;

  border: 3px solid #00ADB5;
  padding: 1rem;
  width: 25rem;
  color:white;
  border-radius: 1rem;
  margin: 1rem;
  background-color: #393E46;


}
.SignPage{
  position: fixed;
  top:8rem;
left: 37%; 

margin-left: -200px;
  border: 3px solid indianred;
  padding: 1rem;
  width: 25rem;
  color:white;
  border-radius: 1rem;
  margin: 1rem;
  background-color: #463a39;

}

.newUserbtn:hover{
  background-color: indianred;
  font-weight: bold;
  cursor: pointer;
} 

.SignPage p{
  font-size: 18px;
  padding: 0.5rem;
  font-weight: bold;
}

.SignPage input{
  padding: 0.5rem;
  border-radius: 1rem;
  width: 20rem;
}
  .RegistratinBtn{
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 16px;
  border-radius: 1rem;
}

.NonRegistratinBtn{
width: 80%;
font-size: 14px;
padding: 0.5rem;
}
.NonRegistratinBtn:hover{
  background-color:tomato;
  font-weight: bold;
}

.RegistratinBtn:hover{
   background-color: #00ADB5;
   font-weight: bold;
   cursor: pointer;
}

.loginbtn:hover{
  background-color: #00ADB5;
  cursor: pointer;
  font-weight: bold;
  /* font-size: larger; */
}

.LoginPage p{
  font-size: 18px;
  padding: 1rem;
  font-weight: bold;
}

.LoginPage input{
  padding: 0.5rem;
  border-radius: 1rem;
 
}

.feedIcon p

.NavIcon{
    display: flex;
    justify-content: space-evenly;
}

.NavIcon p {
    text-decoration: none;    
    font-size: 2rem;
    display: flex;
    /* flex-direction: column;     */
}

.Feedlayout{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}
/* LikedPagelayout */
.LikedPagelayout{
    display: flex;
    flex-direction: column;
}


/* ProfilePAge */
.profilePageCard{
  display: flex;
  border: 1px solid;
  flex-direction: column;
   width:"40rem";
   border: 1px solid black;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 53%, rgba(67,203,214,0.9725140056022409) 55%);
border-radius: 2rem;
color: white;
}
.ProfilePosts{

  /* border:1px solid; */
  display:flex;
  flex-direction: column;
  align-items: center;
}

.postCard{
  border:1px solid;
  padding:0.2rem;
  width:30rem;
  border-radius:0.3rem;
  background-color:white; 
  margin: 1rem;
}

.postCardHeading{
  background-color:#00ADB5;
  padding: 1rem;
  display:flex;
  justify-content:space-between;
  flex-direction:column
}

.suggestionCard{
  background-color: white;
  display: flex;
  border-radius: 1rem;
  width: 10rem;
  
 margin: 1rem;
 padding: 5px;
}

/* DropDownCss */
.dropbtn {
   background-color: #00ADB5;
    border-radius: 50%;
    padding: 2px;
    font-size: 20px;
    border: none;
  }
  
  .dropdown {
    /* position: relative; */
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
   
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .feedButton {
    padding: 1rem;
    margin-right: 1rem;
  font-size: 18px;
  border-radius: 1rem;
  width: 25%;
  cursor: pointer;
  background-color:indianred  ;
  }
  .feedButton:hover{
    background-color: rgb(204, 113, 113);
    color: white;
  }
  
  .dropdown-content p {
    color: black;
    cursor: pointer;
    padding: 6px 8px;
    font-size: 16px;
    display: block;
  }
  .profilePic{
    height:200px; 
    width:200px; 
    border:2px solid black;
    border-radius:50%;
    margin-right: 10px;
   
  }
  .dropdown-content p:hover {background-color: #ddd;}
  
  .dropdown:hover  .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:#393E46;}


  .screenLayout{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around; 
  }

 
  .LoginparentpopupLayout{
    background-color: black;
    height: 100%;
    position: fixed;
    width: 100%;
    /* opacity: 0.8; */
  }


  /* popup css */
  .parentpopupLayout{
  background-color: black;
  height: 100%;
  position: fixed;
  width: 100%;
  opacity: 0.8;
  }
  .popupLayout{
    
    
    border: 3px solid black;
    padding: 10px;
    position: fixed;
    background-color: white;
    height: 22vh;
       top:10rem;
    left: 50%; 
width: 400px; 
margin-left: -200px;
  }

  .fullscreen{
    height: 100%;
    background: yellow;
  }

  /* navBar */

  .navBar{
    /* color: turquoise; */
    padding: 1rem;
    background-color:black;
    margin-bottom: 1rem; 
  }

  .sideNavbar{
    display: flex;
    flex-direction: column;
    width:15rem;
    /* background-color: #3e8e41; */
    align-content: center;
    padding: 1rem;
    
  }
  .sideNavbaricon{
    color: black;
    background-color: #00ADB5;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 25px;
    height: 2.5rem;
    border-radius: 1rem;
    
  }

  .sideNavbaricon:hover{
   background-color: white;
  }
   
  .sideNavbaricon:active{
    background-color: white;
  }

  .firstNameProfile{
   font-size:18px;
      /* font-weight:bold; */
      color: black;
      /* -webkit-text-stroke-width: 0.5px; */
  -webkit-text-stroke-color: black;
  }

  .SuggestionLayout{
    display: flex;
    list-style: none;
    flex-direction: column;
  }

  .profileLayout{
    display:"flex";
    flex-direction:column;
    align-items:center;
    width:30rem; 

  }
  .ContentpagesLayout{
    width: 30rem;
  }
  @media only screen and (max-width: 600px) { 
    .sideNavbar{
      display: flex;
      /* flex-direction: column; */
      /* width:15rem; */
      background-color:#393E46;
     bottom: 0;
     flex-direction: row;
     width: 100%;
     color: aliceblue;
     position: fixed;
      align-content: center;
      padding: 1rem;
     justify-content: space-evenly;
    }
    .dropdown-content {
     
      right: 0;
     
    }

   .SuggestionLayout{
    display: flex;
    list-style: none;
    margin-bottom: 7rem;
   flex-direction: row;
  }
  .postCard{
    width: 20rem;
  }
  .profileLayout{
    width: 20rem;
  }

  .profilePic{
    height:150px; 
    width:150px;
  }
  .profilePageCard{
  width: 21rem;
  }
  .myComponent{
    width: 22rem;
    height: 14rem;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 2rem;
   
  }
  .ContentpagesLayout{
    width: 100%;
  }
  .LoginPage {
   
 left: 0%;
    width: 93%;
 
 
}
.SignPage{
  width: 93%;
 left: 0%;
  top:5rem;

}


  }